<div class="p-6 min-h-screen bg-base-200">
    <div class="max-w-4xl mx-auto">
        <div class="flex justify-between items-center mb-10">
            <h1 class="text-4xl font-bold text-primary">Gestión de Roles</h1>
            <button class="btn btn-primary" (click)="openCreateModal()">
                + Nuevo Rol
            </button>
        </div>

        <!-- Rol table -->
        <div class="bg-base-100 rounded-2xl shadow-xl overflow-hidden">
            <table class="table table-lg">
                <thead>
                    <tr class="bg-base-200">
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @for(rol of roles; track rol.id){
                    <tr class="hover">
                        <td>
                            <span class="badge p-3" [ngStyle]="{ 'background-color': rol.color}">
                                <span class="text-sm font-bold uppercase"
                                    [style.color]="colorService.getTextColor(rol.color)">
                                    {{ rol.name }}
                                </span>
                            </span>
                        </td>
                        <td>{{rol.description}}</td>
                        <td class="text-center">
                            <div class="flex justify-center gap-2">
                                <button class="btn btn-sm btn-outline btn-info"
                                    (click)="openEditModal(rol)">Editar</button>
                                <button class="btn btn-sm btn-outline btn-error"
                                    (click)="deleteRol(rol)">Eliminar</button>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal Create/Edit rol -->
<dialog id="role_modal" class="modal">
    <div class="modal-box w-11/12 max-w-2xl">
        <h3 class="text-2xl font-bold mb-6">Nuevo Rol</h3>

        <form [formGroup]="rolForm" (ngSubmit)="save()" class="space-y-6">
            <div class="form-control">
                <label class="label">
                    <span class="label-text font-medium">Nombre del Rol *</span>
                </label>
                <input formControlName="name" type="text" placeholder="Ej: DevOps Engineer"
                    class="input input-bordered w-full" />
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text font-medium">Descripción</span>
                </label>
                <textarea formControlName="description" class="textarea textarea-bordered h-32"
                    placeholder="Responsabilidades y permisos de este rol..."></textarea>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text font-medium">Color del Rol</span>
                </label>
                <input formControlName="color" type="color">
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text font-medium">Permisos del Rol</span>
                </label>

                <div
                    class="grid grid-cols-1 md:grid-cols-2 gap-3 max-h-64 overflow-y-auto p-3 rounded-xl border border-base-300">
                    @for (permission of permissions(); track permission.id) {
                    <label class="flex items-center gap-3 cursor-pointer">
                        <input type="checkbox" class="checkbox checkbox-primary"
                            [checked]="hasPermissionChecked(permission.id)"
                            (change)="togglePermission(permission.id, $event)" />
                        <div>
                            <p class="font-medium">{{ permission.description }}</p>
                            <p class="text-xs opacity-70">{{ permission.key }}</p>
                        </div>
                    </label>
                    }
                </div>
            </div>

            <div class="modal-action">
                <button type="button" class="btn" (click)="closeModal()">Cancelar</button>
                <button type="submit" class="btn btn-primary">Guardar Rol</button>
            </div>
        </form>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>cerrar</button>
    </form>
</dialog>